<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.txk.springcloudstart.serverfeign.dao.IFundInfoDao">

    <resultMap id="fundInfoRes" type="com.txk.springcloudstart.serverfeign.vo.FundInfoVo">
        <id property="id" column="id"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="fundCode" column="FUND_CODE"/>
        <result property="fundName" column="fund_name"/>
        <result property="fundFullName" column="FUND_FULL_NAME"/>
        <result property="beginDate" column="BEGIN_DATE"/>
        <result property="endDate" column="end_date"/>
        <result property="custodianCode" column="custodian_code"/>
        <result property="taCode" column="ta_code"/>
        <result property="isGrade" column="is_grade"/>
        <result property="status" column="status"/>
        <result property="fundType" column="fund_type"/>
        <result property="fundCategory" column="fund_category"/>
        <result property="settleParticipantNo" column="settle_participant_no"/>
        <result property="ssHolderCode" column="ss_holder_code"/>
        <result property="szHolderCode" column="sz_holder_code"/>
        <result property="needReview" column="need_review"/>
        <result property="reviewer" column="reviewer"/>
        <result property="reviewTime" column="review_time"/>
        <result property="remark" column="remark"/>
        <result property="createUser" column="create_user"/>
        <result property="createTm" column="create_tm"/>
        <result property="lastUpdateUser" column="last_update_user"/>
        <result property="lastUpdateTm" column="last_update_tm"/>
    </resultMap>

    <insert id="saveFundInfo" parameterType="com.txk.springcloudstart.serverfeign.vo.FundInfoVo">
        insert into PARM_FUND_INFO
        (id, fund_code, fund_name, fund_full_name, begin_date, end_date, custodian_code, ta_code, is_grade, status, fund_type, is_open, fund_category, settle_participant_no, ss_holder_code, sz_holder_code, remark)
        values
        (PARM_FUND_INFO_ID_SEQ.nextval,
        #{fundCode,jdbcType=VARCHAR},
        #{fundName,jdbcType=VARCHAR},
        #{fundFullName,jdbcType=VARCHAR},
        to_date(#{beginDate,jdbcType=DATE},'yyyy/mm/dd'),
        to_date(#{endDate,jdbcType=DATE},'yyyy/mm/dd'),
        #{custodianCode,jdbcType=VARCHAR},
        #{taCode,jdbcType=VARCHAR},
        #{isGrade,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{fundType,jdbcType=VARCHAR},
        #{isOpen,jdbcType=VARCHAR},
        #{fundCategory,jdbcType=VARCHAR},
        #{settleParticipantNo,jdbcType=VARCHAR},
        #{ssHolderCode,jdbcType=VARCHAR},
        #{szHolderCode,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR})

    </insert>
    <update id="editFundInfo" parameterType="com.txk.springcloudstart.serverfeign.vo.FundInfoVo">
        update PARM_FUND_INFO
        <set>
            <if test="fundCode != null">FUND_CODE=#{fundCode,jdbcType=VARCHAR},</if>
            <if test="fundName != null">fund_name=#{fundName,jdbcType=VARCHAR},</if>
            <if test="fundFullName != null">fund_full_name=#{fundFullName,jdbcType=VARCHAR},</if>
            <if test="beginDate != null">begin_date= to_date(#{beginDate},'yyyy/mm/dd'),</if>
            <if test="endDate != null">end_date=to_date(#{endDate},'yyyy/mm/dd'),</if>
            <if test="custodianCode != null">custodian_code=#{custodianCode,jdbcType=VARCHAR},</if>
            <if test="taCode != null">ta_code=#{taCode,jdbcType=VARCHAR},</if>
            <if test="isGrade != null">is_grade=#{isGrade,jdbcType=VARCHAR},</if>
            <if test="status != null">status=#{status,jdbcType=VARCHAR},</if>
            <if test="fundType != null">fund_type=#{fundType,jdbcType=VARCHAR},</if>
            <if test="isOpen != null">is_open=#{isOpen,jdbcType=VARCHAR},</if>
            <if test="fundCategory != null">fund_category=#{fundCategory,jdbcType=VARCHAR},</if>
            <if test="settleParticipantNo != null">settle_participant_no=#{settleParticipantNo,jdbcType=VARCHAR},</if>
            <if test="ssHolderCode != null">ss_holder_code=#{ssHolderCode,jdbcType=VARCHAR},</if>
            <if test="szHolderCode != null">sz_holder_code=#{szHolderCode,jdbcType=VARCHAR},</if>
            <if test="remark != null">remark=#{remark,jdbcType=VARCHAR},</if>
        </set>
        where id=#{id,jdbcType=VARCHAR}
    </update>

    <delete id="removeFunds" >
        DELETE FROM PARM_FUND_INFO t WHERE t.id IN
        <foreach collection="list" item="item" open="("
                 separator="," close=")">
            #{item.id}
        </foreach>
    </delete>


    <select id="queryFundInfo" resultMap="fundInfoRes"
            parameterType="com.txk.springcloudstart.serverfeign.vo.FundInfoVo">
        select *
        from PARM_FUND_INFO t
        <where>
            <if test="fundCode !=null and fundCode != '' ">
                t.FUND_CODE=#{fundCode}
            </if>
            <if test="fundFullName !=null and fundFullName != ''">
                and t.FUND_FULL_NAME=#{fundFullName}
            </if>
            <if test="fundCategory !=null and fundCategory != ''">
                and t.fund_category=#{fundCategory}
            </if>
            <if test="taCode !=null and taCode != ''">
                and t.ta_code=#{taCode}
            </if>
            <if test="custodianCode !=null and custodianCode != ''">
                and t.custodian_code=#{custodianCode}
            </if>
            <if test="needReview !=null and needReview != ''">
                and t.need_review=#{needReview}
            </if>
        </where>
    </select>
</mapper>